<div class="row">
    <div class="col-12 text-center">

        <div class="jumbotron text-center" style="margin-top:10px ">
            <img src="assets/img/logo/vaseguroLogo_completo300px.png" width="200px" />
            <h1>Error (404)</h1>
            <h3 style="color: #333333 !important;">No encontramos la pagina que esta buscando</h3>
            <p>Vuelve a la pagina de</p>
            <button class="btn btn-info btn-responsive btninter" routerLink="/">Inicio</button>

        </div>



    </div>
</div>