<p-carousel headerText="Nuestros servicios" [value]="negocios"  autoplayInterval="5000" number="4" responsive=true>
  <ng-template let-negocio pTemplate="item">
    <div class="ui-grid ui-grid-responsive">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <img
            src="assets/img/negocios/{{ negocio.img }}.png"
            width="60"
          />
        </div>
        <div class="ui-grid-col-12"><img src="assets/img/aseguradoras/AXA.svg" width="60"></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">{{ negocio.nombre }}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">Aseguradora</div>
        
      </div>
      <div class="ui-grid-row">
          <div class="ui-grid-col-12">{{ negocio.aseguradora }}</div>
      </div>
      <div class="ui-grid-row">
          <div class="ui-grid-col-12">Descripcion</div>
        
      </div>
      <div class="ui-grid-row">
          <div class="ui-grid-col-12">{{ negocio.descripcion | slice:0:100}}...</div>
      </div>
      
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <button
            type="button"
            pButton
            icon="pi pi-search"
            (click)="selectCar(negocio)"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
