<!-- <img src="../../../assets/img/nosotros/nosotros.jpg" class="img-fluid" alt="Responsive image" style ="width: 100% !important; height: auto !important;"> -->
<div class="row" id="box-search" style="margin-top:150px !important ">
    <div class="thumbnail text-center" style="width: 100% !important; height: auto !important;">
        <img src="assets/img/logo/vaseguro500px.png" alt="" class="img-fluid img-center" style="max-width: 300px !important; height: auto !important; opacity: .5 !important;  border: none !important; border-radius: 100px; margin-top: -130px;" />
        <div class="caption" style="margin-top: -180px;">
            <div class="text-center">
                <div class="col-md-12">
                    <h1>Quienes somos</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class=" col-md-12 dark text-justify">
                        Somos un equipo de Agentes de Seguros y Fianzas, capacitados para poder atender las necesidades de nuestros clientes, dándoles una asesoría personalizada, combinada con la tecnología.
                    </h4>
                </div>


            </div>
        </div>
    </div>
</div>

<br /><br />
<div class="oferta text-center">
    <h2>Que ofrecemos</h2>
    <div class="row">
        <div class="col-12">
            <p-fieldset legend="Asesoría telefónica" [toggleable]="false">
                <table>
                    <tr>
                        <th><i class="fas fa-phone col-2"></i></th>
                        <th class="col-10"> Asesoría telefónica las 24 horas los 365 días del año en caso de siniestro</th>
                    </tr>

                </table>

            </p-fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-fieldset legend="Capacitación" [toggleable]="false">
                <table>
                    <tr>

                        <th><i class="fab fa-teamspeak col-2"></i></th>
                        <th class="col-10"> Capacitación y platicas con los conductores</th>
                    </tr>

                </table>

            </p-fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-fieldset legend="Pólizas a domicilio" [toggleable]="false">
                <table>
                    <tr>
                        <th><i class="fas fa-mail-bulk col-2"></i></th>
                        <th class="col-10">Entrega física de las pólizas a domicilio</th>
                    </tr>

                </table>

            </p-fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-fieldset legend="Inspección" [toggleable]="false">
                <table>
                    <tr>
                        <th><i class="fas fa-car-side col-2"></i></th>
                        <th class="col-10"> Inspección de las unidades ya sea por fotografía o en persona (autos y camiones)</th>
                    </tr>

                </table>

            </p-fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-fieldset legend="Siniestros" [toggleable]="false">
                <table>
                    <tr>
                        <th><i class="fas fa-car-crash col-2"></i></th>
                        <th class="col-10"> En caso de siniestro, le damos seguimiento desde que llega el ajustador a tiempo, si el auto debe de ir a la agencia o a un taller mecánico, para que se autorice a tiempo y se entregue a tiempo las unidades</th>
                    </tr>

                </table>

            </p-fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-fieldset legend="Segimientos" [toggleable]="false">
                <table>
                    <tr>
                        <th><i class="fas fa-american-sign-language-interpreting col-2"></i></th>
                        <th class="col-10"> A las quejas les damos seguimiento de principio a fin, procurando que el tiempo sea lo mas corto posible</th>
                    </tr>

                </table>

            </p-fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-fieldset legend="Cancelación" [toggleable]="false">
                <table>
                    <tr>
                        <th><i class="fas fa-window-close col-2"></i></th>
                        <th class="col-10"> En caso de Cancelación de la póliza por el motivo que sea, se tramita la devolución de las primas no devengadas para que el cliente recoja su cheque en las oficinas de la aseguradora correspondiente</th>
                    </tr>

                </table>

            </p-fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-fieldset legend="Notificación" [toggleable]="false">
                <table>
                    <tr>
                        <th><i class="fas fa-envelope-open-text col-2"></i></th>
                        <th class="col-10"> Se le notifica con tiempo los pagos subsecuentes de su póliza, como también la renovación de la misma</th>
                    </tr>

                </table>

            </p-fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-fieldset legend="Confidencialidad" [toggleable]="false">
                <table>
                    <tr>
                        <th> <i class="fas fa-user-shield col-2"></i></th>

                        <th class="col-10">Toda información es confidencial y resguardada por nuestro aviso de pirvacidad </th>
                    </tr>

                </table>

            </p-fieldset>
        </div>
    </div>

</div>