<!-- <img src="../../../assets/img/nosotros/nosotros.jpg" class="img-fluid" alt="Responsive image" style ="width: 100% !important; height: auto !important;"> -->
<div class="row" id="box-search" style="margin-top:150px !important ">
  <div
    class="thumbnail text-center"
    style="width: 100% !important; height: auto !important;"
  >
    <img
      src="assets/img/logo/vaseguro500px.png"
      alt=""
      class="img-fluid img-center"
      style="max-width: 300px !important; height: auto !important; opacity: .5 !important;  border: none !important; border-radius: 100px; margin-top: -130px;"
    />
    <div class="caption" style="margin-top: -180px;">
      <div class="text-center">
        <div class="col-md-12"><h1>Quienes somos</h1></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <h4 class=" col-md-8 dark text-justify">
          Somos un equipo de Agentes de Seguros y Fianzas, capacitados para
          poder atender las necesidades de nuestros clientes, dándoles una
          asesoría personalizada, combinada con la tecnología.
        </h4>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
</div>

<br /><br />
<div class="oferta text-center">
  <h2>Que ofrecemos</h2>
  <div class="row">
    <div class="col-12">
        <p-fieldset legend="Asesoría telefónica" [toggleable]="false">
            <i class="fas fa-phone"></i> Asesoría telefónica las 24 horas los 365 días del año en caso de
        siniestro
      </p-fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-fieldset legend="Capacitación" [toggleable]="false">
          <i class="fab fa-teamspeak"></i>Capacitación y platicas con los conductores
      </p-fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-fieldset legend="Pólizas a domicilio" [toggleable]="false">
          <i class="fas fa-mail-bulk"></i>Entrega física de las pólizas a domicilio
      </p-fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-fieldset legend="Inspección" [toggleable]="false">
          <i class="fas fa-car-side"></i>Inspección de las unidades ya sea por fotografía o en persona (autos y
        camiones)
      </p-fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-fieldset legend="Siniestros" [toggleable]="false">
          <i class="fas fa-car-crash"></i>En caso de siniestro, le damos seguimiento desde que llega el ajustador
        a tiempo, si el auto debe de ir a la agencia o a un taller mecánico,
        para que se autorice a tiempo y se entregue a tiempo las unidades
      </p-fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-fieldset legend="Segimientos" [toggleable]="false">
          <i class="fas fa-american-sign-language-interpreting"></i>A las quejas les damos seguimiento de principio a fin, procurando que el
        tiempo sea lo mas corto posible
      </p-fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-fieldset legend="Cancelación" [toggleable]="false">
          <i class="fas fa-window-close"></i>En caso de Cancelación de la póliza por el motivo que sea, se tramita la
        devolución de las primas no devengadas para que el cliente recoja su
        cheque en las oficinas de la aseguradora correspondiente
      </p-fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-fieldset legend="Notificación" [toggleable]="false">
          <i class="fas fa-envelope-open-text"></i>Se le notifica con tiempo los pagos subsecuentes de su póliza, como
        también la renovación de la misma
      </p-fieldset>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-fieldset legend="Confidencialidad" [toggleable]="false">
          <i class="fas fa-user-shield"></i> Toda información es confidencial
      </p-fieldset>
    </div>
  </div>
</div>
