<h3 class="text-center" style="margin-top: 50px;">Anuncios importantes</h3>

<div class="card text-center">
    <div class="card-header">
        Cosas que revisar a mi auto antes de salir a carretera
    </div>
    <div class="card-body">
      <h5 class="card-title">¿Cómo está tu batería?</h5>
      <p class="card-text">Semana Santa está a la vuelta de la esquina y seguramente ya tienes planeadas tus vacaciones, ya sea playa o pueblo mágico, tu auto debe estar siempre listo.

          Así que antes de preparar la maleta, echa un vistazo a esta lista con todo lo que debes revisar a tu auto antes de salir a carretera.</p>
         
      <a href="#" class="btn btn-primary">Mas Informacíon</a>
    </div>
    <div class="card-footer text-muted">
        22-03-2019
    </div>
  </div>
  <div class="card text-center">
      <div class="card-header">
          Cosas que revisar a mi auto antes de salir a carretera
      </div>
      <div class="card-body">
        <h5 class="card-title">¿Cómo está tu batería?</h5>
        <p class="card-text">Semana Santa está a la vuelta de la esquina y seguramente ya tienes planeadas tus vacaciones, ya sea playa o pueblo mágico, tu auto debe estar siempre listo.
  
            Así que antes de preparar la maleta, echa un vistazo a esta lista con todo lo que debes revisar a tu auto antes de salir a carretera.</p>
           
        <a href="#" class="btn btn-primary">Mas Informacíon</a>
      </div>
      <div class="card-footer text-muted">
          22-03-2019
      </div>
    </div>
    <h3 class="text-center">La opinión de nuestros clientes nos respalda</h3>
    <div class="card text-center">
        <div class="card-header">
          OScar Alejandro Ramírez Rosas
        </div>
        <div class="card-body">
          <h5 class="card-title">Autos</h5>
          <p class="card-text">Es importante tener a alguien que nos este apoyando y  Va Seguro nunca me dejo en mi accidente.</p>
          <a href="#" class="btn btn-primary">Mas Informacíon</a>
        </div>
        <div class="card-footer text-muted">
            22-03-2019
        </div>
      </div>

