<div class="row">
  <div class="col-12 text-center">
    <h2>Nuestros Seguros</h2>
    <br>
  </div>
</div>
<div class="row">
  <p-scrollPanel
    [style]="{ width: '100%', height: '230px' }"
    styleClass="custom"
  >
  <div class="col-12 negocio " style="float: left !important;">
      <div class="col-3" style="float: left !important;">
        <img
          src="assets/img/negocios/autos.png"
          pTooltip="Autos"
          tooltipPosition="top"
        />
      </div>
      <div class="col-3" style="float: left !important;">
        <h3>Autos</h3>
      </div>
      <div class="col-6" style="float: left !important;">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
          aspernatur amet nulla doloribus voluptatum placeat eius, mollitia
          officiis optio necessitatibus cum in, saepe alias deserunt dolore quae
          at omnis repudiandae?
        </p>
      </div>
    </div>
    <div class="col-12 negocio " style="float: left !important;">
        <div class="col-3" style="float: left !important;">
          <img
            src="assets/img/negocios/moto.png"
            pTooltip="Motos"
            tooltipPosition="top"
          />
        </div>
        <div class="col-3" style="float: left !important;">
          <h3>Motos</h3>
        </div>
        <div class="col-6" style="float: left !important;">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            aspernatur amet nulla doloribus voluptatum placeat eius, mollitia
            officiis optio necessitatibus cum in, saepe alias deserunt dolore quae
            at omnis repudiandae?
          </p>
        </div>
      </div>
      <div class="col-12 negocio " style="float: left !important;">
          <div class="col-3" style="float: left !important;">
            <img
              src="assets/img/negocios/pickup.png"
              pTooltip="Pick-Up"
              tooltipPosition="top"
            />
          </div>
          <div class="col-3" style="float: left !important;">
            <h3>Pick-Up</h3>
          </div>
          <div class="col-6" style="float: left !important;">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
              aspernatur amet nulla doloribus voluptatum placeat eius, mollitia
              officiis optio necessitatibus cum in, saepe alias deserunt dolore quae
              at omnis repudiandae?
            </p>
          </div>
        </div>
        <div class="col-12 negocio " style="float: left !important;">
            <div class="col-3" style="float: left !important;">
              <img
                src="assets/img/negocios/taxi.png"
                pTooltip="Taxi"
                tooltipPosition="top"
              />
            </div>
            <div class="col-3" style="float: left !important;">
              <h3>Taxi - Uber</h3>
            </div>
            <div class="col-6" style="float: left !important;">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                aspernatur amet nulla doloribus voluptatum placeat eius, mollitia
                officiis optio necessitatibus cum in, saepe alias deserunt dolore quae
                at omnis repudiandae?
              </p>
            </div>
          </div>
          <div class="col-12 negocio " style="float: left !important;">
              <div class="col-3" style="float: left !important;">
                <img
                  src="assets/img/negocios/vida.png"
                  pTooltip="Vida"
                  tooltipPosition="top"
                />
              </div>
              <div class="col-3" style="float: left !important;">
                <h3>Vida</h3>
              </div>
              <div class="col-6" style="float: left !important;">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
                  aspernatur amet nulla doloribus voluptatum placeat eius, mollitia
                  officiis optio necessitatibus cum in, saepe alias deserunt dolore quae
                  at omnis repudiandae?
                </p>
              </div>
            </div>
            <div class="col-12 negocio " style="float: left !important;">
      <div class="col-3" style="float: left !important;">
        <img
          src="assets/img/negocios/gmm.png"
          pTooltip="Gastos medicos mayores"
          tooltipPosition="top"
        />
      </div>
      <div class="col-3" style="float: left !important;">
        <h3>GMM</h3>
      </div>
      <div class="col-6" style="float: left !important;">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
          aspernatur amet nulla doloribus voluptatum placeat eius, mollitia
          officiis optio necessitatibus cum in, saepe alias deserunt dolore quae
          at omnis repudiandae?
        </p>
      </div>
    </div>
    <div class="col-12 negocio " style="float: left !important;">
        <div class="col-3" style="float: left !important;">
          <img
            src="assets/img/negocios/hogar.png"
            pTooltip="Hogar"
            tooltipPosition="top"
          />
        </div>
        <div class="col-3" style="float: left !important;">
          <h3>Hogar</h3>
        </div>
        <div class="col-6" style="float: left !important;">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            aspernatur amet nulla doloribus voluptatum placeat eius, mollitia
            officiis optio necessitatibus cum in, saepe alias deserunt dolore quae
            at omnis repudiandae?
          </p>
        </div>
      </div>
  </p-scrollPanel>
</div>
