<div class="row">
    <div class="col-12 text-center">
        <h2>Nuestros Seguros</h2>
        <br>
    </div>
</div>
<div class="row">
    <p-scrollPanel [style]="{ width: '100%', height: '230px' }" styleClass="custom">


        <div routerLink="/negocios/autos" class="puntero">
            <div class="col-12 negocio " style="float: left !important;">
                <div class="col-3" style="float: left !important;">
                    <img src="assets/img/negocios/autos.png" class="image" pTooltip="Autos" tooltipPosition="top" />
                </div>
                <div class="col-3 image" style="float: left !important;">
                    <h3>Autos</h3>
                </div>
                <div class="col-6 image" style="float: left !important;">
                    <p>
                        En nuestro catalogo encontraras las marcas de autos de uso particular.
                    </p>
                </div>
                <div class="middle">
                    <div>
                        <h1>Informes</h1>
                    </div>
                </div>
            </div>
        </div>
        <div routerLink="/negocios/inversion" class="puntero">
            <div class="col-12 negocio " style="float: left !important;">
                <div class="col-3" style="float: left !important;">
                    <img src="assets/img/negocios/inversion.png" class="image" pTooltip="Inversion" tooltipPosition="top" />
                </div>
                <div class="col-3 image" style="float: left !important;">
                    <h3>Ahorro e inversión</h3>
                </div>
                <div class="col-6 image" style="float: left !important;">
                    <p>
                        Nuestros asesores financieros son expertos en planificación financiera personal.
                    </p>
                </div>
                <div class="middle">
                    <div>
                        <h1>Informes</h1>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12 negocio " style="float: left !important;">
            <div class="col-3" style="float: left !important;">
                <img src="assets/img/negocios/moto.png" pTooltip="Motos" tooltipPosition="top" />
            </div>
            <div class="col-3" style="float: left !important;">
                <h3>Motos</h3>
            </div>
            <div class="col-6" style="float: left !important;">
                <p>
                    En nuestro catalogo encontraras las marcas de motocicletas de uso particular y de trabajo.
                </p>
            </div>
        </div>
        <div class="col-12 negocio " style="float: left !important;">
            <div class="col-3" style="float: left !important;">
                <img src="assets/img/negocios/pickup.png" pTooltip="Pick-Up" tooltipPosition="top" />
            </div>
            <div class="col-3" style="float: left !important;">
                <h3>Pick-Up</h3>
            </div>
            <div class="col-6" style="float: left !important;">
                <p>
                    En nuestro catalogo encontraras las marcas de las pick up de uso particular y de trabajo.
                </p>
            </div>
        </div>

        <div class="col-12 negocio " style="float: left !important;">
            <div class="col-3" style="float: left !important;">
                <img src="assets/img/negocios/taxi.png" pTooltip="Taxi" tooltipPosition="top" />
            </div>
            <div class="col-3" style="float: left !important;">
                <h3>Taxi - Uber</h3>
            </div>
            <div class="col-6" style="float: left !important;">
                <p>
                    Para poder cotizar el seguro de TAXIS, SERVICIOS DE PLATAFORMA como UBER, CABIFY, DIDI, etc, es necesario comunicarse con nosotros.
                </p>
            </div>
        </div>
        <div class="col-12 negocio " style="float: left !important;">
            <div class="col-3" style="float: left !important;">
                <img src="assets/img/negocios/vida.png" pTooltip="Vida" tooltipPosition="top" />
            </div>
            <div class="col-3" style="float: left !important;">
                <h3>Vida</h3>
            </div>
            <div class="col-6" style="float: left !important;">
                <p>
                    Para poder cotizar este tipo de seguros es necesario comunicarse con nosotros.
                </p>
            </div>
        </div>
        <div class="col-12 negocio " style="float: left !important;">
            <div class="col-3" style="float: left !important;">
                <img src="assets/img/negocios/gmm.png" pTooltip="Gastos medicos mayores" tooltipPosition="top" />
            </div>
            <div class="col-3" style="float: left !important;">
                <h3>GMM</h3>
            </div>
            <div class="col-6" style="float: left !important;">
                <p>
                    Para poder cotizar este tipo de seguros es necesario comunicarse con nosotros.
                </p>
            </div>
        </div>
        <div class="col-12 negocio " style="float: left !important;">
            <div class="col-3" style="float: left !important;">
                <img src="assets/img/negocios/hogar.png" pTooltip="Hogar" tooltipPosition="top" />
            </div>
            <div class="col-3" style="float: left !important;">
                <h3>Hogar</h3>
            </div>
            <div class="col-6" style="float: left !important;">
                <p>
                    Para poder cotizar este tipo de seguros es necesario comunicarse con nosotros
                </p>
            </div>
        </div>
        <div class="col-12 negocio " style="float: left !important;">
            <div class="col-3" style="float: left !important;">
                <img src="assets/img/negocios/danos.png" pTooltip="Negocios / Daños" tooltipPosition="top" />
            </div>
            <div class="col-3" style="float: left !important;">
                <h3>Negocios / Daños</h3>
            </div>
            <div class="col-6" style="float: left !important;">
                <p>
                    Para poder cotizar este tipo de seguros es necesario comunicarse con nosotros
                </p>
            </div>
        </div>
    </p-scrollPanel>
</div>