<div class="jumbotron text-center" style="margin-top:10px ">
    <img src="assets/img/logo/vaseguroLogo_completo300px.png" width="200px" />
    <p class="lead"><b>Tranquilo, nosotros te cuídamos.</b></p>
    <p>Confía en nosotros</p>
    <button class="btn btn-info btn-responsive btninter" routerLink="/contacto">Contactanos</button>
    <button class="btn btn-info btn-responsive btninter right" (click)="display = true">Cotiza</button>
</div>
<app-negocios></app-negocios>
<p-dialog header="Cotiza en 30 segundos" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{ width: '70%', minWidth: '500px' }" [minY]="100" [maximizable]="true" [baseZIndex]="10000">

    <div style="text-align:center;">


        <table>
            <tr>

                <td><img src="assets/img/logo/vaseguroLogo_lateral100px.png" width="130" height="50" alt="" style="background: #fff !important ;  border-radius: 10px; padding: 5px; "></td>

                <td>
                    <h1>Cotiza</h1>
                </td>
            </tr>

        </table>
        <div class="mensajes" *ngIf="msgs">
            <p-messages [(value)]="msgs"></p-messages>

            <p-footer>
                <button class="btn btn-info btn-responsive btninter right" (click)="noCotiza()" style="background: #44569c !important;">Salir</button>

            </p-footer>
        </div>

    </div>




    <br /><br />
    <div class="text-center">
        <form #fastCotizacionForm="ngForm" (ngSubmit)="onSubmit(fastCotizacionForm)" class="fastCotizacionForm title">
            <div class="form-group text-center">
                <div class="row">
                    <div style="width: 20% !important">
                        <label for="cp">Codigo Postal</label>
                        <input type="number" name="cp" #cp="ngModel" [(ngModel)]="fastCotizacion.cp" class="form-control" id="cp" min="0" max="99999" placeholder="" required />
                        <br />
                        <p-message *ngIf="cp.touched && !cp.valid" severity="error" text="El  campo de codigo postal es requerido"></p-message>
                    </div>
                    <div style="width: 20% !important">
                        <label for="marca">Marca</label>
                        <input type="text" name="marca" #marca="ngModel" [(ngModel)]="fastCotizacion.marca" class="form-control" id="marca" placeholder="Ingresa tu marca" required />
                        <br />
                        <p-message *ngIf="marca.touched && !marca.valid" severity="error" text="El  campo de marca es requerido"></p-message>
                    </div>
                    <div style="width: 20% !important">
                        <label for="modelo">Modelo</label>
                        <input type="number" name="modelo" #modelo="ngModel" [(ngModel)]="fastCotizacion.modelo" class="form-control" id="modelo" placeholder="Ingresa tu modelo" required />
                        <br />
                        <p-message *ngIf="modelo.touched && !modelo.valid" severity="error" text="El  campo de modelo es requerido"></p-message>
                    </div>
                    <div style="width: 20% !important">
                        <label for="version">Version</label>
                        <input type="text" name="version" #version="ngModel" [(ngModel)]="fastCotizacion.version" class="form-control" id="version" placeholder="Ingresa tu version" required />
                        <br />
                        <p-message *ngIf="version.touched && !version.valid" severity="error" text="El  campo de version es requerido"></p-message>
                    </div>
                    <div style="width: 20% !important">
                        <label for="subversion">Subversion</label>
                        <input type="text" name="subversion" #subversion="ngModel" [(ngModel)]="fastCotizacion.subversion" class="form-control" id="subversion" placeholder="Ingresa tu subversion" required />
                        <br />
                        <p-message *ngIf="subversion.touched && !subversion.valid" severity="error" text="El  campo de subversion es requerido"></p-message>
                    </div>
                    <button type="button" (click)="avisoPrivacidad()" pButton icon="pi pi-info-circle" label="Acepta terminos y condiciones" class="btn btn-info btn-responsive btninter center"></button>
                </div>
            </div>
        </form>
    </div>


    <p-footer>
        <a class="btn btn-primary" (click)="onSubmit(fastCotizacionForm)" *ngIf="fastCotizacionForm.valid ">Pide Cotizacion</a>
        <!-- <button type="button" pButton icon="pi pi-check" (click)="onSubmit(fastCotizacionForm)" label="Pide Cotizacion"></button> -->
        <button class="btn btn-info btn-responsive btninter right" (click)="noCotiza()" style="background: #44569c !important;">En otro momento</button>

    </p-footer>



</p-dialog>






<p-dialog header="Terminos y aviso de privacidad" [(visible)]="showaviso" [modal]="true" [responsive]="true" [style]="{ width: '70%', minWidth: '500px' }" [minY]="100" [maximizable]="true" [baseZIndex]="10000">
    <app-aviso></app-aviso>
</p-dialog>