<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="row">
    <div class="col-6 right text-right">
        <h1>Vida</h1>
    </div>
    <div class="col-6 left text-left"><img src="assets/img/negocios/vida.png" class="img-circle" style="max-width: 80px;"></div>
</div>


<hr>
<!-- <h3 class="first">Autos</h3> -->
<p-accordion>
    <p-accordionTab header="Coberturas" [selected]="true">
        <p-card header="Descripción" subheader="Información">
            <div>
                <table class="text-justify">
                    <tr>
                        <th>Fallecimiento</th>
                    </tr>
                    <tr>
                        <th> Muerte por accidente </th>
                    </tr>

                    <tr>
                        <th>Muerte accidental colectiva</th>
                    </tr>

                    <tr>
                        <th>Perdida orgánica </th>
                    </tr>

                    <tr>
                        <th>Invalidez</th>
                    </tr>

                    <tr>
                        <th>Enfermedades graves </th>
                    </tr>



                </table>
                <p> <br><br>
                    <b>Aplican restricciones </b> <br><br> Estar dentro de las edades de aceptación, según del plan a contratar <br><br> Cumplir con requisitos de selección vigentes<br> <br>La suma asegurada y deducibles dependen del plan a contratar
                </p>


            </div>
            <!-- <p-footer>
                        <button pButton type="button " label="Save " icon="pi pi-check " style="margin-right: .25em "></button>
                        <button pButton type="button " label="Cancel " icon="pi pi-times " class="ui-button-secondary "></button>
                    </p-footer> -->
        </p-card>


    </p-accordionTab>

</p-accordion>
<br><br>