<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="row">
    <div class="col-6 right text-right">
        <h1>Hogar</h1>
    </div>
    <div class="col-6 left text-left"><img src="assets/img/negocios/hogar.png" class="img-circle" style="max-width: 80px;"></div>
</div>


<hr>
<!-- <h3 class="first">Autos</h3> -->
<p-accordion>
    <p-accordionTab header="Coberturas" [selected]="true">
        <p-card header="Descripción" subheader="Información">
            <div>
                <table class="text-justify">
                    <tr>
                        <th>Incendio y/o rayo</th>
                    </tr>
                    <tr>
                        <th>Fenómenos meteorológicos </th>
                    </tr>

                    <tr>
                        <th>Remoción de escombros</th>
                    </tr>

                    <tr>
                        <th>Robo </th>
                    </tr>

                    <tr>
                        <th>Robo con violencia </th>
                    </tr>

                    <tr>
                        <th>Terremoto </th>
                    </tr>
                    <tr>
                        <th>Inundación </th>
                    </tr>
                    <tr>
                        <th>Erupción volcánica </th>
                    </tr>
                    <tr>
                        <th>Responsabilidad civil familiar </th>
                    </tr>
                    <tr>
                        <th>Cristales </th>
                    </tr>
                    <tr>
                        <th>Dinero y valores </th>
                    </tr>
                    <tr>
                        <th>Maquinaria y equipo de uso domestico </th>
                    </tr>



                </table>
                <p> <br><br>
                    <b>Aplican restricciones </b> <br><br> Los deducibles aplicarán diferente según la zona y el porcentaje de pérdida o daño.
                </p>


            </div>
            <!-- <p-footer>
                        <button pButton type="button " label="Save " icon="pi pi-check " style="margin-right: .25em "></button>
                        <button pButton type="button " label="Cancel " icon="pi pi-times " class="ui-button-secondary "></button>
                    </p-footer> -->
        </p-card>


    </p-accordionTab>

</p-accordion>
<br><br>