<div class="jumbotron text-center" style="margin-top:10px ">
    <h1><b>Promociones</b></h1>
</div>
<div class="row">
    <div class="col-12" style="margin-bottom: 100px !important; min-height: 220px;">

        <div class="col-12 col-md-4 col-xl-3" style="float:left !important; ">
            <p-card header="Quialitas" subheader="Formas de pago" styleClass="ui-card-shadow">
                <p-header>
                    <img src="Card" src="assets/img/aseguradoras/QUALITAS.svg">
                </p-header>
                <div> <b>3 y 6</b> meses sin intereses con tarjeta de crédito Bancomer, Santander, Scotiabank, AMEX, HSBC, Banorte, BanRegio e IXE</div>

            </p-card>

        </div>
        <div class="col-12 col-md-4 col-xl-3" style="float:left !important; min-height: 220px;">
            <p-card header="ANA Seguros" subheader="Formas de pago" styleClass="ui-card-shadow">
                <p-header>
                    <!-- <img src="Card" src="/src/assets/img/aseguradoras/ANA.svg"> -->
                    <img src="Card" src="assets/img/aseguradoras/ANA.svg">
                </p-header>
                <div>
                    <br>3 y 6 meses sin intereses con todas las tarjetas de crédito
                    <br>3 meses sin intereses con American Express
                </div>


            </p-card>

        </div>
        <div class="col-12 col-md-4 col-xl-3" style="float:left !important; min-height: 220px;">
            <p-card header="HDI" subheader="Formas de pago" styleClass="ui-card-shadow">
                <p-header>
                    <!-- <img src="Card" src="/src/assets/img/aseguradoras/HDI.svg"> -->
                    <img src="Card" src="assets/img/aseguradoras/HDI.svg">
                </p-header>
                <div>
                    <br>6 y 12 meses sin interés con todas las tarjetas bancarias de crédito
                </div>


            </p-card>

        </div>
        <div class="col-12 col-md-4 col-xl-3" style="float:left !important; min-height: 220px;">
            <p-card header="Banorte" subheader="Formas de pago" styleClass="ui-card-shadow">
                <p-header>
                    <!-- <img src="Card" src="/src/assets/img/aseguradoras/BANORTE.svg"> -->
                    <img src="Card" src="assets/img/aseguradoras/BANORTE.svg">
                </p-header>
                <div>
                    <br>12 meses sin intereses con tarjeta de crédito Banorte, IXE, HSBC, Santander, Scotiabank, Inbursa y Liverpool
                </div>


            </p-card>

        </div>
        <div class="col-12 col-md-4 col-xl-3" style="float:left !important; min-height: 220px;">
            <p-card header="Mapfre" subheader="Formas de pago" styleClass="ui-card-shadow">
                <p-header>
                    <!-- <img src="Card" src="/src/assets/img/aseguradoras/Mapfre.png"> -->
                    <img src="Card" src="assets/img/aseguradoras/Mapfre.png">
                </p-header>
                <div>
                    <br>6 y 12 meses sin intereses con tarjeta de crédito Banorte, HSBC, AMEX, Bancomer, Santander y Citibanamex
                </div>


            </p-card>

        </div>
        <div class="col-12 col-md-4 col-xl-3" style="float:left !important; min-height: 220px;">
            <p-card header="GNP" subheader="Formas de pago" styleClass="ui-card-shadow">
                <p-header>
                    <!-- <img src="Card" src="/src/assets/img/aseguradoras/GNP.svg"> -->
                    <img src="Card" src="assets/img/aseguradoras/GNP.svg">
                </p-header>
                <div>
                    <br>3 y 6 meses sin intereses con tarjeta de crédito Citibanamex, Santander, Banorte, HSBC, Bancomer y AMEX
                </div>


            </p-card>

        </div>
        <div class="col-12 col-md-4 col-xl-3" style="float:left !important; min-height: 220px;">
            <p-card header="Prevem" subheader="Formas de pago" styleClass="ui-card-shadow">
                <p-header>
                    <!-- <img src="Card" src="/src/assets/img/aseguradoras/prevem.png"> -->
                    <img src="Card" src="assets/img/aseguradoras/prevem.png">
                </p-header>
                <div>
                    <br>3 meses sin intereses con tarjeta de crédito Citibanamex, Bancomer, Santander, Scotiabank y AMEX
                </div>


            </p-card>

        </div>





    </div>

</div>