<div class="jumbotron text-center" style="margin-top:10px ">
    <h1><b>Aviso de privacidad</b></h1>
</div>
<div class="row">
    <div class="col-12" style="margin-bottom: 100px !important">
        <p>
            El siguiente aviso de privacidad en cumplimiento con la Ley Federal de Protección de Datos Personales en Posesión de Particulares hace público a nuestros clientes, solicitantes, contratantes, asegurados, beneficiarios y terceros lo siguiente:
        </p>
        <ul>
            <li>
                <h3>Identidad y domicilio del responsable </h3>
                <p>
                    V@SEGURO hace de su conocimiento que tratará los datos personales que usted proporcione para los fines indicados en el presente aviso. El domicilio de V@SEGURO es: Mamey #20, Laderas de San Mateo, Naucalpan de Juárez, Estado de México, México, C.P 53248

                </p>
            </li>
            <li>
                <h3>Datos personales </h3>
                <p>V@SEGURO recopilará los datos personales necesarios para la óptima prestación de servicios, pudiéndose recabar datos adicionales a los previamente registrados con el propósito de cumplir con nuestras obligaciones </p>
                <p>Medios por los cuales se recabarán datos:</p>
                <ul>
                    <li>Directamente </li>
                    <li>A través del agente y sus promotores</li>
                    <li>A través de la página web</li>
                    <li>Redes sociales oficiales de V@SEGURO</li>
                </ul>
                <p>Dichos datos personales podrán ser los siguientes:</p>
                <ul>
                    <li>Datos médicos </li>
                    <li>Características personales y físicas </li>
                    <li>Datos académicos</li>
                    <li>Género</li>
                    <li>Estado civil </li>
                    <li>Origen racial o étnico </li>
                    <li>Creencias religiosas, filosóficas y morales</li>
                    <li>Información genética</li>
                    <li>Afiliación sindical y/o política </li>
                    <li>Información financiera</li>
                    <li>Datos migratorios</li>
                </ul>
            </li>
            <li>
                <h3>Finalidades</h3>
                <ul>
                    <li>
                        <h4>Finalidades primarias del tratamiento de datos personales </h4>
                        <p>a) Contratantes, asegurados y beneficiarios</p>
                        <p>Los datos proporcionados serán utilizados para:</p>
                        <ul>
                            <li>I. Evaluación de su solicitud de seguro </li>
                            <li>II. Selección de riesgo</li>
                            <li>III. Determinar la prima y deducible aplicable al seguro solicitado</li>
                            <li>IV. Determinar el tipo de cobertura requerida</li>
                            <li>V. Identificar plenamente a la persona asegurada y a sus bienes</li>
                            <li>VI. Realizar pagos</li>
                            <li>VII. Cobros automáticos cargados a tarjetas bancarias </li>
                            <li>VIII. Contactar a sus familiares en caso de emergencia</li>
                            <li>IX. Pedir referencias </li>
                            <li>X. Seguimiento de siniestros </li>
                            <li>XI. Servicio de reparaciones </li>
                            <li>XII. Hacer investigaciones con relación a sus solicitudes de pago, quejas o reclamaciones</li>
                            <li>XIII. Contactar médicos y/o personal relacionado a los servicios contratados </li>
                            <li>XIV. Renovaciones del contrato de seguros</li>
                            <li>XV. Prevención de fraudes y operaciones ilícitas</li>
                            <li>XVI. Realizar estadísticas</li>
                            <li>XVII. Identificar plenamente a los beneficiarios </li>
                            <li>XVIII. Contactarlo para temas relacionados al seguro o al aviso de privacidad</li>
                            <li>XIX. Para verificación de auditores externos </li>
                            <li>XX. Cualquier otra finalidad para efecto de la prestación de este servicio</li>
                        </ul>
                        <p>b) Prestadores de servicio e intermediarios </p>
                        <p>Los datos utilizados proporcionados serán utilizados para:</p>
                        <ul>
                            <li>I. Identificación y verificación</li>
                            <li>II. Contacto</li>
                            <li>III. Facturación de pagos por prestación de servicio</li>
                            <li>IV. Relación jurídica y/o contractual </li>
                            <li>V. Elaboración de expedientes para control interno </li>
                        </ul>

                    </li>
                    <li>
                        <h4>Finalidades secundarias para el tratamiento de datos personales </h4>
                        <ul>
                            <li>I. Con el fin de mercadotecnia, publicidad y prospección comercial por medios físicos y /o electrónicos </li>
                            <li>II. Autoridades oficiales mexicanas que así lo requieran, con el fin de cumplir con obligaciones derivadas de ley y requerimientos oficiales para efectos de prevención de delitos y selección de riesgos </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h3>Medios para ejercer los derechos ARCO</h3>
                <p>Se entiende por Derechos ARCO, según el INFOEM, a aquel derecho que tiene un titular de datos personales, para solicitar el acceso, rectificación, cancelación u oposición sobre el tratamiento de sus datos, ante el Sujeto Obligado que esté
                    en posesión de estos.</p>
                <p>
                    Usted podrá ejercer sus derechos ARCO, según:
                </p>
                <ul>
                    <li>
                        I. Acceso y rectificación: Podrá solicitar que se le haga saber los datos personales que V@SEGURO conserva en sus expedientes, mediante la entrega física de los mismo. En el entendido que, en caso de tener un dato erróneo o inexacto, usted tendrá el derecho
                        de solicitar su corrección y/o rectificación
                    </li>
                    <li>II. Cancelación: Usted puede pedir a V@SEGURO que se cancelen los datos conservados en su expediente una vez concluidos los servicios.</li>
                    <li>III. Oposición: en el entendido que los datos se hubieran recabado sin su consentimiento, el titular tiene el derecho a oponerse a las finalidades establecidas. </li>
                </ul>
                <p>
                    Únicamente se recibirán solicitudes de Derechos ARCO del titular de los datos personales o a través de su representante legal que acredite legalmente su representación .
                </p>
                <p>Es importante informar que V@SEGURO no venderá sus datos a terceros.</p>
                <p>En el caso de que usted realice la petición de derechos ARCO, V@SEGURO tendrá un plazo máximo de 20 días hábiles para que reciba formalmente una respuesta a su solicitud.</p>

            </li>
            <li>
                <h3>Transferencia de datos</h3>
                <p>V@SEGURO se compromete a tratar con confidencialidad todos los datos proporcionados.</p>
                <p>Usted acepta que:</p>
                <ul>
                    <li>a) Compañías aseguradoras afiliadas </li>
                </ul>
                <p>V@SEGURO podrá transmitir sus datos personales a las aseguradoras afiliadas, incluyendo su oficina matriz, subsidiarias nacionales o extranjeras.</p>

            </li>
            <li>
                <h3>Cambios en el aviso de privacidad </h3>
                <p>Este aviso esta elaborado bajo el amparo de la legislación mexicana vigente, por lo que, en caso de verificarse reformas legislativas, V@SEGURO se reserva el derecho de hacer los cambios necesarios a la mismo, así como los términos y condiciones
                    aquí mencionados, así como que se realice algún cambio en el Aviso de Privacidad se hará de su conocimiento a través de la pagina web en la dirección www.vaseguro.com.mx </p>

            </li>
            <li>
                <h3>Veracidad de los datos personales proporcionados por el Usuario.</h3>
                <p>
                    Usted como usuario garantiza que los datos personales facilitados a V@SEGURO son veraces y comprobables y se hace responsable en comunicar de cualquier modificación en tiempo y forma.
                </p>
                <p>
                    En caso de alguna duda usted puede consultar el Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI) en www.ifai.gob.mx
                </p>
            </li>
        </ul>

        <div class="center align-content-center">
            <form #acentaAviso="ngForm" (ngSubmit)="onSubmit(acentaAviso)" class="acentaAviso title">
                <div class="form-group text-center">
                    <div class="row center text-center">
                        <div style="width: 20% !important">


                            <div class="col-12 ">
                                <p-checkbox name="checked" value="Acepto" label="Acepto avisos de privacidad" [(ngModel)]="checked" inputId="Acepto"></p-checkbox>
                                <a class="btn btn-primary" (click)="onSubmit(acentaAviso)" *ngIf="acentaAviso.valid ">Enviar</a>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>