<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="row">
    <div class="col-6 right text-right">
        <h1>Gastos médicos mayores</h1>
    </div>
    <div class="col-6 left text-left"><img src="assets/img/negocios/gmm.png" class="img-circle" style="max-width: 80px;"></div>
</div>


<hr>
<!-- <h3 class="first">Autos</h3> -->
<p-accordion>
    <p-accordionTab header="Coberturas" [selected]="true">
        <p-card header="Descripción" subheader="Información">
            <div>
                <table class="text-center">
                    <tr>
                        <th>Médica Activa</th>
                        <th>Médica Plus</th>
                        <th>Médica Catastrófica</th>
                        <th>Médica Internacional</th>
                    </tr>
                    <tr>

                        <td> Suma asegurada desde: $3,000,000 MXP hasta $15,000,000 MXP
                        </td>
                        <td>Suma asegurada de: $1,100,000 USD $2,000,000 USD
                        </td>
                        <td>Suma asegurada de: $1,100,000 USD $2,000,000 USD
                        </td>
                        <td>Suma asegurada de: $2,500,000 USD
                        </td>
                    </tr>
                    <tr>
                        <td>Deducibles desde $9,500 MXP hasta $157,500 MXP</td>
                        <td>Deducible de coaseguro desde 10% a 0%.</td>
                        <td>Deducible de coaseguro desde 10% a 0%.</td>
                        <td>Deducible de coaseguro desde 10% a 0%.</td>

                    </tr>
                    <tr>
                        <td>Maternidad</td>
                        <td>Maternidad</td>
                        <td>Maternidad</td>
                        <td>Maternidad</td>
                    </tr>
                    <tr>
                        <td>Ambulancia Nacional </td>
                        <td>Ambulancia Nacional </td>
                        <td>Ambulancia Nacional </td>
                        <td>Ambulancia Nacional </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Ambulancia Internacional </td>
                    </tr>
                    <tr>
                        <td>Emergencia en el extranjero</td>
                        <td>Emergencia en el extranjero</td>
                        <td>Emergencia en el extranjero</td>
                        <td>Emergencia en el extranjero</td>
                    </tr>
                    <tr>
                        <td>Ayuda para gastos de sepelio</td>
                        <td>Ayuda para gastos de sepelio</td>
                        <td>Ayuda para gastos de sepelio</td>
                        <td>Ayuda para gastos de sepelio</td>
                    </tr>
                    <tr>
                        <td>Indemnización diaria por gastos de hospitalización</td>
                        <td>Indemnización diaria por gastos de hospitalización</td>
                        <td>Indemnización diaria por gastos de hospitalización</td>
                        <td>Indemnización diaria por gastos de hospitalización</td>
                    </tr>
                </table>
                <p> <br><br>
                    <b>Aplican restricciones </b> <br><br> Edad Máxima de aceptación: En titulares y/o cónyuges 69 años <br><br> Hijos solteros 30 años La suma asegurada, deducibles y coaseguros dependen del plan a contratar<br> <br>Se aplican diferentes
                    deducibles a partir de los 65 años

                </p>


            </div>
            <!-- <p-footer>
                        <button pButton type="button " label="Save " icon="pi pi-check " style="margin-right: .25em "></button>
                        <button pButton type="button " label="Cancel " icon="pi pi-times " class="ui-button-secondary "></button>
                    </p-footer> -->
        </p-card>


    </p-accordionTab>

</p-accordion>
<br><br>