/* You can add global styles to this file, and also import other style files */

body {
    background-color: white;
    color: #44569c !important;
    min-width: 410px;
    margin-bottom: 70px !important;
}

.navbar {
    background: rgba(52, 58, 64, .6) !important;
    border-radius: 0px !important;
}

hr {
    border-color: #333;
}

.puntero {
    text-align: center !important;
    width: 100% !important;
    cursor: pointer !important;
}

.puntero:hover {
    background: #686868 !important;
}

.puntero:hover .image {
    opacity: 0.3 !important;
}

.puntero:hover .middle {
    opacity: 1 !important;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.img-circle {
    border-radius: 100%;
    width: 150px;
}

.card-header {
    background: #44569c;
    color: white;
}

.card-title,
.card-text {
    color: #44569c;
}

.badge {
    margin-left: 5px;
}

.btn-outline-success {
    margin-left: 5px;
}

.img-thumb {
    width: 50px;
    height: 50px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginTop80 {
    margin-top: 75px;
}


/* btn-cotiza */

.btn-cotiza {
    max-width: 300px;
}

.centerbtn {
    position: absolute;
    width: 120%;
    left: 0;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%) translateX(30%);
    width: 100%;
}


/*H1*/

h1 {
    font-family: 'Anton', sans-serif !important;
    font-size: 50px !important;
    text-shadow: 6px 6px 6px #aaa !important;
    padding-top: 10px !important;
    color: #44569C !important;
}

h2 {}


/* IMG */

.btn-info {
    margin: 10px;
    background: #bf2f66 !important;
    color: white;
    border: none;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}


/* Footer*/

footer {
    padding-top: 180px;
    background: rgba(52, 58, 64, .6) !important;
    /* position: fixed; */
    /* bottom: 0px;
    left: 0px;
    width: 100%; */
}


/*Redes*/

a.icono-red {
    margin: 5px !important;
    font-size: 30px !important;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


/*  CARD  */

.card {
    margin-bottom: 20px;
}


/* NEgociios*/

.negocio {
    text-align: center;
    margin-bottom: 20px;
}

.negocio img {
    width: 100%;
    max-width: 100px;
}


/*  Listas */

#danos ul {
    list-style: none !important;
}

#danos ul li {
    margin-bottom: 15px !important;
    text-align: justify;
    font-size: 15px;
}

#danos ul ol {
    list-style: none !important;
}


/* 
#danos ul li {
    font-family: Georgia, serif, Times !important;
    font-size: 18px !important;
    /* display: block !important;
    width: 300px !important;
    height: 28px !important;
    background-color: #333 !important;
    border-left: 5px solid #222 !important;
    border-right: 5px solid #222 !important;
    padding-left: 10px !important;
    text-decoration: none !important;
    color: #bfe1f1 !important; */


/* 

}
#danos ul li:hover {
    -moz-transform: rotate(-5deg) !important;
    -moz-box-shadow: 10px 10px 20px #000000 !important;
    -webkit-transform: rotate(-5deg);
    -webkit-box-shadow: 10px 10px 20px #000000 !important;
    transform: rotate(4deg) !important;
    box-shadow: 10px 10px 20px #000000 !important;
    margin-left: 10px !important;
} */

*/
/*Botones*/

a:hover.btn.btn-primary {
    background: #44569c !important;
    border: none !important;
}

a.btn.btn-primary {
    background: #bf2f66 !important;
    color: #ffffff !important;
    border: none !important;
}

.active {
    background: #44569c !important;
    border-radius: 10px;
}

.navbar {
    background: #bf2f66 !important;
}

.custom .ui-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4;
}

.custom .ui-scrollpanel-bar {
    background-color: #44569c;
    opacity: 1;
    transition: background-color .3s;
}

.custom .ui-scrollpanel-bar:hover {
    background-color: #bf2f66;
}

.ui-fieldset-legend-text {
    text-align: center;
    color: #bf2f66;
}

.ui-fieldset-content-wrapper {
    color: #44569c;
}

.fas,
.fab {
    font-size: 25px;
}

.oferta {
    margin-bottom: 100px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}