<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="row">
    <div class="col-6 right text-right">
        <h1>Inversión</h1>
    </div>
    <div class="col-6 left text-left"><img src="assets/img/negocios/inversion.png" class="img-circle" style="max-width: 80px;"></div>
</div>


<hr>
<!-- <h3 class="first">Autos</h3> -->
<p-accordion>
    <p-accordionTab header="Te ayudamos a crear estrategias de inversión a largo plazo, para alcanzar tus metas financieras." [selected]="true">
        <p-card header="Descripción" subheader="Información">
            <div>
                <table class="text-center">
                    <!-- <tr>
                        <th></th>
                        <th>Cobertura Amplia</th>
                        <th>Cobertura Limitada</th>
                        <th>Responsabilidad civil</th>
                    </tr> -->
                    <tr>

                        <th style="border-bottom: 1px solid #333333; background: #bf2f66 !important; color: #ffffff !important; margin-bottom: 25px !important;">Plan para el retiro </th>

                    </tr>
                    <tr>
                        <th style="border-bottom: 1px solid #333333; background: #333333 !important; color: #ffffff !important; margin-bottom: 25px !important;">Educación Universitaria para tus hijos</th>

                    </tr>
                    <tr>
                        <th style="border-bottom: 1px solid #333333; background: #bf2f66 !important; color: #ffffff !important; margin-bottom: 25px !important; ">Comprar un inmueble</th>

                    </tr>
                    <tr>
                        <th style="border-bottom: 1px solid #333333; background: #333333 !important; color: #ffffff !important; margin-bottom: 25px !important; ">Incremento de Patrimonio </th>

                    </tr>

                </table>
            </div>
            <!-- <p-footer>
                        <button pButton type="button " label="Save " icon="pi pi-check " style="margin-right: .25em "></button>
                        <button pButton type="button " label="Cancel " icon="pi pi-times " class="ui-button-secondary "></button>
                    </p-footer> -->
        </p-card>


    </p-accordionTab>

</p-accordion>
<br><br>

<div class="row ">
    <div class="col-12 ">

        <p>Los planes de inversión se personalizan de acuerdo a tus objetivos y te vamos guiando durante todo el tiempo para que logres tus metas.</p>
        <p>Nuestras estrategias de inversión incluyen vehículos financieros de Renta Variable y Renta Fija, con los que podrás acceder a una gran variedad de portafolios de inversión denominados ETFs, que incluyen a las empresas más grandes e importantes
            del mundo, las cuales te ayudarán a generar excelentes rendimientos.</p>
        <p>También tendrás acceso a invertir en las monedas más importantes, cómo son el Dólar y Euro.</p>
        <p>Una gran ventaja, con la cual cuentan nuestros planes de inversión, es que los puedes convertir en un plan deducible de impuestos, para tu jubilación.</p>
        <h3>Comienza a construir tu futuro hoy!</h3>


    </div>
</div>