<div class="jumbotron text-center" style="margin-top:10px ">
    <h1><b>¿Qué hacer en caso de siniestro o percance?</b></h1>
</div>
<div class="row">
    <div class="col-12" style="margin-bottom: 100px !important">
        <p>
            Queremos estar para ti y tus seres queridos en todo momento. En caso de algún siniestro te recomendamos los siguientes pasos:
        </p>
        <ul style="color:black !important">
            <li>1. Mantén la calma </li>
            <li>2. Revisa si hay heridos </li>
            <li>3. Ten tu póliza a la mano </li>
            <li>4. Comunícate a los teléfonos de emergencia </li>
            <li>5. Quédate en el lugar del accidente</li>
            <li>6. NO hagas acuerdos con terceros</li>
            <li>7. Espera a tú ajustador </li>
        </ul>
        <h4 class="text-center">
            En caso de fuga, no sigas al auto, de ser posible apunta color, marca y placas del auto.
        </h4>
        <br>

        <h3 class="text-center" style="color: black !important">¡Recuerda que nos puedes contactar 24/7 al <b style="color: #bf2f66 !important">55-3184-3720</b> con tú agente de seguros!</h3>
    </div>

</div>