

<footer class="p-2 text-white text-center fixed-bottom ">
    <div class="row center text-center">
      <div class="col-12 text-center">
          <a class="icono-red" href=""><i class="fab fa-facebook-square" style="color:#3b5998"></i></a>
          <a class="icono-red" href=""><i class="fab fa-instagram" style="color: #3f729b"></i></a>
          <a class="icono-red" href=""><i class="fas fa-envelope-square" style="color: #fff"></i></a>
          <a class="icono-red" href=""><i class="fab fa-twitter-square" style="color: #00acee"></i></a>
          <a class="icono-red" href=""><i class="fab fa-whatsapp" style="color:#25D366"></i></a>
      </div>
      
    </div>
    
  <div class="row">
    <div class="col-12 text-center">V@ Seguro &copy;</div>
  </div>
  
    
    
    
    
 
 
  
</footer>
  
  