<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="row">
    <div class="col-6 right text-right">
        <h1>Carga</h1>
    </div>
    <div class="col-6 left text-left"><img src="assets/img/negocios/carga.png" class="img-circle" style="max-width: 80px;"></div>
</div>


<hr>
<!-- <h3 class="first">Autos</h3> -->
<p-accordion>
    <p-accordionTab header="Coberturas" [selected]="true">
        <p-card header="Descripción" subheader="Información">
            <div>
                <table class="text-center">
                    <tr>
                        <th></th>
                        <th>Cobertura Amplia</th>
                        <th>Cobertura Limitada</th>
                        <th>Responsabilidad civil</th>
                    </tr>
                    <tr>

                        <th style="border-bottom: 1px solid #333333; background: #bf2f66 !important; color: #ffffff !important; margin-bottom: 25px !important;"> Daños Materiales </th>
                        <td><i class="fa fa-check"></i></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th style="border-bottom: 1px solid #333333; background: #333333 !important; color: #ffffff !important; margin-bottom: 25px !important;">Robo Total</th>
                        <td><i class="fa fa-check "></i></td>
                        <td><i class="fa fa-check "></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th style="border-bottom: 1px solid #333333; background: #bf2f66 !important; color: #ffffff !important; margin-bottom: 25px !important; ">Responsabilidad civil a personas o bienes </th>
                        <td><i class="fa fa-check "></i></td>
                        <td><i class="fa fa-check "></i></td>
                        <td><i class="fa fa-check "></i></td>
                    </tr>
                    <tr>
                        <th style="border-bottom: 1px solid #333333; background: #333333 !important; color: #ffffff !important; margin-bottom: 25px !important; ">Responsabilidad civil complementaria </th>
                        <td><i class="fa fa-check "></i></td>
                        <td><i class="fa fa-check "></i></td>
                        <td><i class="fa fa-check "></i></td>
                    </tr>
                    <tr>
                        <th style="border-bottom: 1px solid #333333; background: #bf2f66 !important; color: #ffffff !important; margin-bottom: 25px !important; ">Gastos Médicos a ocupantes</th>
                        <td><i class="fa fa-check "></i></td>
                        <td><i class="fa fa-check "></i></td>
                        <td><i class="fa fa-check "></i></td>
                    </tr>
                    <tr>
                        <th style="border-bottom: 1px solid #333333; background: #333333 !important; color: #ffffff !important; margin-bottom: 25px !important; ">Asesoría y Defensa Legal </th>
                        <td><i class="fa fa-check "></i></td>
                        <td><i class="fa fa-check "></i></td>
                        <td><i class="fa fa-check "></i></td>
                    </tr>
                    <tr>
                        <th style="border-bottom: 1px solid #333333; background: #bf2f66 !important; color: #ffffff !important; margin-bottom: 25px !important; ">Asistencia de viaje </th>
                        <td><i class="fa fa-check "></i></td>
                        <td><i class="fa fa-check "></i></td>
                        <td><i class="fa fa-check "></i></td>
                    </tr>
                </table>
            </div>
            <!-- <p-footer>
                        <button pButton type="button " label="Save " icon="pi pi-check " style="margin-right: .25em "></button>
                        <button pButton type="button " label="Cancel " icon="pi pi-times " class="ui-button-secondary "></button>
                    </p-footer> -->
        </p-card>


    </p-accordionTab>

</p-accordion>
<br><br>

<div class="row ">
    <div class="col-12 ">
        <div class="col-6 " style="float:left ">
            <p-accordion>
                <p-accordionTab header="Daños Materiales ">
                    <p-card>
                        <div id="danos ">
                            <ul>
                                <li> <i class="fa fa-car " aria-hidden="true "></i> Sabias que las pólizas están conformadas por coberturas y que cada cobertura tiene su costo.</li>
                                <li> <i class="fa fa-car " aria-hidden="true "></i> Daños Materiales esta cobertura te sirve para cubrir los daños materiales de tu auto en caso de siniestro.</li>
                                <li> <i class="fa fa-car " aria-hidden="true "></i> En esta cobertura tendrás que pagar un deducible y mientras más bajo sea el costo del seguro aumenta.</li>
                                <li> <i class="fa fa-car " aria-hidden="true "></i> El pago del deducible se basa al valor de la unidad ya sea en valor factura.</li>
                                <li> <i class="fa fa-car " aria-hidden="true "></i> Suma asegurada fija o valor comercial.
                                    <ol>
                                        <li>3%</li>
                                        <li>5%</li>
                                        <li>10%</li>
                                        <li>15%</li>
                                        <li>20%</li>
                                    </ol>


                                </li>
                            </ul>

                        </div>

                    </p-card>
                </p-accordionTab>

            </p-accordion>
        </div>



        <div class="col-6 " style="float:left ">
            <p-accordion>
                <p-accordionTab header=" Robo Total ">
                    <p-card>

                        <div id="danos ">
                            <ul>
                                <li> <i class="fa fa-car " aria-hidden="true "></i> Esta cobertura te sirve en caso de robo total de la unidad Lo recomendable es contratar esta cobertura con una suma asegurada fija durante toda la vigencia de la póliza en
                                    vez de un valor comercial.</li>
                                <li> <i class="fa fa-car " aria-hidden="true "></i> Se tendrá que pagar un deducible y mientras más bajo sea el costo del seguro aumenta el pago del deducible se basa al valor de la unidad ya sea en valor factura.</li>
                                <li> <i class="fa fa-car " aria-hidden="true "></i> Suma asegurada fija o valor comercial.
                                    <ol>
                                        <li>3%</li>
                                        <li>5%</li>
                                        <li>7%</li>
                                        <li>10%</li>
                                        <li>15%</li>
                                        <li>20%</li>
                                    </ol>


                                </li>
                            </ul>

                        </div>

                    </p-card>
                </p-accordionTab>

            </p-accordion>
        </div>

        <br>

        <div class="col-6 " style="float:left ">
            <p-accordion>
                <p-accordionTab header="Responsabilidad civil a personas o bienes ">
                    <p-card>

                        <div id="danos ">
                            <ul>
                                <li> <i class="fa fa-car " aria-hidden="true "></i> Esta cobertura te sirve para pagar cualquier daño que se ocasione a terceras personas ya sea en sus bienes o en su persona.</li>
                                <li> <i class="fa fa-car " aria-hidden="true "></i> Sabias que tan importante es esta cobertura, te puede salvar de que tengas que perder todo tu patrimonio y desembolsar mucho dinero, lo más recomendable es contar con las máximas
                                    sumas que te pueda ofrecer una aseguradora.</li>

                            </ul>

                        </div>

                    </p-card>
                </p-accordionTab>

            </p-accordion>
        </div>
        <div class="col-6 " style="float:left ">
            <p-accordion>
                <p-accordionTab header="Responsabilidad civil complementaria ">
                    <p-card>

                        <div id="danos ">
                            <ul>
                                <li> <i class="fa fa-car " aria-hidden="true "></i> Esta cobertura te sirve para pagar cualquier daño que se ocasione a terceras personas ya sea en sus bienes o en su persona.</li>
                                <li> <i class="fa fa-car " aria-hidden="true "></i> Sabias que tan importante es esta cobertura, te puede salvar de que tengas que perder todo tu patrimonio y desembolsar mucho dinero, lo más recomendable es contar con las máximas
                                    sumas que te pueda ofrecer una aseguradora.</li>

                            </ul>

                        </div>

                    </p-card>
                </p-accordionTab>

            </p-accordion>
        </div>
        <br>
        <div class="col-6 " style="float:left ">
            <p-accordion>
                <p-accordionTab header="Responsabilidad civil complementaria ">
                    <p-card>

                        <div id="danos ">

                            <ul>
                                <li>Esta cobertura te sirve para indemnizar a las personas y sus familiares, si les causamos la muerte o en el siniestro se quedan con alguna discapacidad. </li>
                                <li>Por igual esta cobertura, te puede salvar de que tengas que perder todo tu patrimonio y desembolsar mucho dinero, lo más recomendable es contar con las máximas sumas que te pueda ofrecer una aseguradora, ya que la ley te
                                    obliga a indemnizar a las personas y sus familiares, si les causamos la muerte o en el siniestro se quedan con alguna discapacidad.</li>
                            </ul>





                        </div>

                    </p-card>
                </p-accordionTab>

            </p-accordion>
        </div>
        <div class="col-6 " style="float:left ">
            <p-accordion>
                <p-accordionTab header="Responsabilidad civil complementaria ">
                    <p-card>

                        <div id="danos ">

                            <ul>
                                <li>Esta cobertura te sirve para pagar los gastos de hospital a las personas que vayan dentro de la unidad en el momento del siniestro.</li>
                                <li>Te recomendamos siempre solicitar lo máximo o lo mínimo son $ 100,000.00 por persona asignada al auto.</li>
                            </ul>






                        </div>

                    </p-card>
                </p-accordionTab>

            </p-accordion>
        </div>
        <br>
        <div class="col-6 " style="float:left ">
            <p-accordion>
                <p-accordionTab header="Responsabilidad civil complementaria ">
                    <p-card>

                        <div id="danos ">


                            <ul>
                                <li>Esta cobertura te sirve en caso de que exista un lesionado o muerto y llegues al ministerio público. Cuando llegas a tener un accidente y, existe una o varias personas lesionadas, tendrás que pasar por el procedimiento
                                    legal y, se te asignara un abogado.</li>
                            </ul>




                        </div>

                    </p-card>
                </p-accordionTab>

            </p-accordion>
        </div>
        <div class="col-6 " style="float:left ">
            <p-accordion>
                <p-accordionTab header="Responsabilidad civil complementaria ">
                    <p-card>

                        <div id="danos ">

                            <ul>
                                <li>Esta cobertura te ofrece los servicios de grúa, paso de corriente, envío de gasolina, cambio de neumático en caso de ponchadura.</li>
                                <li>Las grúas solo aplican en caso de siniestro o descompostura, tienen un kilometraje establecido, lo demás corre por tu cuenta.</li>
                                <li>No está permitido ir a bordo de la unidad en caso de arrastre, siempre deberá ir acompañando alguien al automóvil, si llegas a pedir que te lleven gasolina tienes que pagar los litros que solicites y en caso de ponchadura
                                    de llanta, es importante que tengas la de refacción lista para poderse ocupar.</li>
                            </ul>





                        </div>

                    </p-card>
                </p-accordionTab>

            </p-accordion>
        </div>
        <br>
        <div class="col-6 " style="float:left ">
            <p-accordion>
                <p-accordionTab header="Responsabilidad civil complementaria ">
                    <p-card>

                        <div id="danos ">


                            <ul>
                                <li>Al momento de tener un siniestro y, el tercero es responsable, solo te dan la asesoría para cubrir los daños materiales de tu auto</li>
                            </ul>




                        </div>

                    </p-card>
                </p-accordionTab>

            </p-accordion>
        </div>
        <div class="col-6 " style="float:left ">
            <p-accordion>
                <p-accordionTab header="Responsabilidad civil complementaria ">
                    <p-card>

                        <div id="danos ">


                            <ul>
                                <li>Quedas exento de cualquier asesoría de Daños Materiales y Robo total.</li>
                                <li> Solo se ofrece la asesoría del daño que se cause a tercero, ya sea en sus bienes o en su persona</li>
                            </ul>




                        </div>

                    </p-card>
                </p-accordionTab>

            </p-accordion>
        </div>
        <br>

    </div>
</div>